* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, a, p, span, input, li {
  font-family: "Manrope", sans-serif;
  color: #021C27;
}

.container {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

.header {
  padding-top: 45px;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-block__phone {
  font-weight: 500;
}
.header-block__search {
  padding: 0 30px;
  cursor: pointer;
}
.header-block__search svg {
  width: 14px;
}
.header-block__link {
  font-weight: bold;
  font-size: 14px;
  padding: 10px 15px;
  border: 1px solid #021C27;
  border-radius: 5px;
}
.header-nav {
  margin-left: 80px;
}
.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-nav__list-item {
  margin-right: 20px;
}
.header-nav__list-item:last-child {
  margin-right: 0;
}
.header-nav__list-link {
  font-size: 14px;
  font-weight: bold;
  color: #021C27;
}
.header-burger {
  position: relative;
  height: 20px;
  width: 30px;
  display: none;
  cursor: pointer;
}
.header-burger:after, .header-burger:before {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  left: 0;
  background: #000;
}
.header-burger:after {
  top: 0;
}
.header-burger:before {
  bottom: 0;
}
.header-burger span {
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  left: 0;
  background: #000;
  top: calc(50% - 1px);
}

.offer {
  padding-top: 55px;
}
.offer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
}
.offer-block__title {
  font-size: 64px;
  font-weight: 800;
}
.offer-block__text {
  margin: 20px 0 40px;
}
.offer-block__link {
  color: #fff;
  font-weight: 800;
  font-size: 20px;
  padding: 15px 25px;
  background: #009FE3;
  border-radius: 5px;
  text-transform: uppercase;
}
.offer-block__item:first-child {
  padding-top: 70px;
  width: 30%;
}
.offer-block__item:last-child {
  width: 590px;
  position: relative;
}
.offer-block__item:last-child img:first-child {
  width: 100%;
}
.offer-block__item:last-child img:last-child {
  position: absolute;
  top: -65px;
  z-index: -2;
  right: 50px;
}
.offer-block__item:last-child div {
  position: absolute;
  top: 40px;
  right: 45px;
  background: #000;
  width: 92px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
}
.offer-block__item:last-child div p {
  color: #fff;
  font-weight: 800;
  text-align: center;
}
.offer-block__item:last-child div p span {
  color: #fff;
  opacity: 0.5;
  font-size: 12px;
  margin-right: 2px;
}
.offer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding-top: 100px;
}
.offer-info__item {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 auto;
  margin-top: 50px;
}
.offer-info__item p {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 25px;
  width: 80%;
  opacity: 0.5;
}
.offer-info__item span {
  display: block;
  width: 100%;
  height: 1px;
  background: #009FE3;
}
.offer-info__item.active p {
  opacity: 1;
}
.offer-info__item.active span {
  height: 5px;
}

.equipment {
  margin-top: 80px;
}
.equipment-block {
  padding: 60px 70px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 20px 60px rgba(2, 26, 36, 0.1);
          box-shadow: 0px 20px 60px rgba(2, 26, 36, 0.1);
  border-radius: 40px;
}
.equipment-header__item h2 {
  font-weight: 800;
  font-size: 34px;
}
.equipment-header__item h2 span {
  color: #C0C6C9;
}
.equipment-header__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0 45px;
}
.equipment-header__point {
  width: 18px;
  height: 18px;
  border: 1px solid #ECEEEF;
  border-radius: 50px;
}
.equipment-header__point.active {
  width: 8px;
  height: 8px;
  border: 5px solid #E3061B;
}
.equipment-header__line {
  width: 25%;
  height: 1px;
  background: #ECEEEF;
}
.equipment-body__item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.equipment-body__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.equipment-body__item:last-child div a {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
  padding: 13px 25px;
  background: #E3061B;
  border-radius: 5px;
  margin-top: 40px;
}
.equipment-body__item:last-child div img {
  width: 210px;
  height: 224px;
  position: absolute;
  right: 80px;
}
.equipment-body__elem {
  width: 30%;
  position: relative;
}
.equipment-body__elem-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.equipment-body__elem-header img {
  margin-right: 15px;
}
.equipment-body__elem-list {
  border: 1px solid #009FE3;
  border-radius: 5px;
  width: 60%;
}
.equipment-body__elem-list li {
  border-bottom: 1px solid #009FE3;
  font-size: 17px;
  padding: 15px 0 15px 30px;
}
.equipment-body__elem-list li:last-child {
  border-bottom: 0;
}
.equipment-body__elem-list li.active {
  background: rgba(0, 159, 227, 0.1);
  color: #009FE3;
}
.equipment-body__elem::after {
  content: "";
  display: block;
  width: 20px;
  height: 40px;
  background: url("../assets/img/chevron-thin-right.svg");
  position: absolute;
  top: calc(50% - 20px);
  right: 35px;
}
.equipment-body__elem:last-child::after {
  display: none;
}
.equipment-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  border-top: 1px dashed #009FE3;
  padding-top: 30px;
  margin-top: 45px;
}
.equipment-footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 45%;
}
.equipment-footer div img {
  margin-right: 15px;
}
.equipment-footer div p {
  font-size: 15px;
}
.equipment-footer div p span {
  border-bottom: 1px solid #009FE3;
}
.equipment-footer div:last-child p {
  border-bottom: 1px solid #009FE3;
}

.about {
  padding-top: 80px;
}
.about-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
}
.about-item:first-child {
  position: relative;
}
.about-item:last-child {
  padding-top: 120px;
  width: 40%;
}
.about-item__back {
  position: absolute;
  left: -70px;
  bottom: -341px;
  z-index: -2;
}
.about-title {
  font-size: 54px;
  font-weight: 800;
}
.about-link {
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid rgba(2, 28, 39, 0.4);
  border-radius: 5px;
  opacity: 0.4;
  margin: 10px 0 35px;
}
.about-link svg {
  width: 10px;
  margin-right: 8px;
}
.about-text {
  font-size: 19px;
}

.beautification {
  background: url(../assets/img/background5.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  margin-top: 100px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}
.beautification div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.beautification-title {
  font-size: 64px;
  color: #fff;
  font-weight: 800;
  width: 335px;
  margin: 330px 200px 0 0;
}

.solutions {
  padding-top: 120px;
}
.solutions-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.solutions-item:first-child {
  width: 35%;
}
.solutions-item:last-child {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.solutions-item__elem {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 48%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 40px rgba(2, 26, 36, 0.04);
          box-shadow: 0px 5px 40px rgba(2, 26, 36, 0.04);
  border-radius: 20px;
  margin-top: 25px;
  padding: 20px 0 20px 25px;
}
.solutions-item__elem p {
  font-size: 17px;
  font-weight: bold;
  margin-top: 30px;
}
.solutions-title {
  font-weight: 800;
  font-size: 46px;
}
.solutions-title span {
  color: #C0C6C9;
}
.solutions-link {
  display: inline-block;
  margin: 40px 0 100px;
}

.products {
  padding-top: 120px;
}
.products-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.products-item {
  padding-bottom: 160px;
}
.products-item:first-child {
  background: #fff;
  width: 30%;
}
.products-item:nth-child(2) {
  background: -webkit-gradient(linear, left top, right top, from(rgba(171, 213, 232, 0.12)), to(white));
  background: -o-linear-gradient(left, rgba(171, 213, 232, 0.12) 0%, white 100%);
  background: linear-gradient(90deg, rgba(171, 213, 232, 0.12) 0%, white 100%);
  padding: 160px 0 0 100px;
  width: 40%;
  position: relative;
}
.products-item:nth-child(2) img:first-child {
  position: relative;
  z-index: 5;
}
.products-item:nth-child(2) img:last-child {
  position: absolute;
  left: 0;
  top: -130px;
  z-index: 2;
}
.products-item:last-child {
  width: 30%;
}
.products-list__item {
  font-size: 24px;
  font-weight: 600;
  opacity: 0.3;
  margin-top: 45px;
  padding-right: 130px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}
.products-list__item:hover {
  opacity: 1;
  border-right: 5px solid #E3061B;
}
.products-filters__item {
  font-weight: 600;
  font-size: 19px;
}
.products-filters__item ul {
  margin: 15px 0 40px;
}
.products-filters__item ul li {
  font-size: 17px;
  font-weight: 400;
}
.products-filters__item ul li input {
  margin-right: 10px;
}
.products-filters__item ul li label {
  cursor: pointer;
}
.products-show {
  display: inline-block;
  font-weight: bold;
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 25px;
  background: #000;
  border-radius: 5px;
  margin-top: 25px;
}

.mobile-menu {
  display: none;
  position: absolute;
  z-index: 20;
  background: silver;
  width: 100%;
  left: 0;
  top: -100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  padding-bottom: 50px;
}
.mobile-menu.active {
  top: 18%;
}
.mobile-menu * {
  border-color: #fff;
  color: #fff;
}
.mobile-menu ul, .mobile-menu div {
  display: block;
}
.mobile-menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile-menu div p {
  padding-top: 10px;
}
.mobile-menu div span {
  padding: 10px 0;
}
.mobile-menu ul li a {
  display: block;
  width: 100%;
  border-bottom: 1px solid grey;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 1700px) {
  .products-item:nth-child(2) img:first-child {
    width: 400px;
  }
  .products-item:nth-child(2) img:last-child {
    width: 400px;
    left: 70px;
    top: 50px;
  }
}
@media screen and (max-width: 1300px) {
  .header-nav {
    display: none;
  }
  .header-info {
    display: none;
  }
  .header-burger {
    display: block;
  }

  .offer-block__item:last-child {
    width: 400px;
  }
  .offer-block__item:last-child img:last-child {
    bottom: -175px;
    top: unset;
    right: 80px;
    width: 600px;
  }

  .equipment-body__elem {
    width: 33%;
  }
  .equipment-body__elem-list {
    width: 80%;
  }
  .equipment-body__elem::after {
    right: 15px;
  }

  .about-item:first-child a img {
    width: 75%;
  }
  .about-item:last-child {
    padding-top: 40px;
  }
  .about-item__back {
    width: 80%;
    left: 0;
    bottom: -130px;
  }

  .products-item:nth-child(2) {
    padding-left: 20px;
  }
  .products-item:nth-child(2) img:first-child {
    width: 330px;
  }
  .products-item:nth-child(2) img:last-child {
    width: 330px;
    left: 0;
    top: 100px;
  }
  .products-list__item {
    font-size: 20px;
    padding-right: 80px;
    margin-top: 30px;
  }

  .mobile-menu {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  .offer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offer-block__item:first-child {
    width: 100%;
    text-align: center;
  }
  .offer-block__item:last-child img:last-child {
    bottom: -200px;
    right: -100px;
  }

  .equipment-body__elem {
    width: 250px;
  }
  .equipment-body__elem-list li {
    padding: 15px 0 15px 10px;
  }
  .equipment-body__elem::after {
    display: none;
  }
  .equipment-body__item:last-child div img {
    right: 0;
  }

  .about {
    margin-top: 50px;
  }
  .about-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-title {
    font-size: 45px;
  }
  .about-item:first-child {
    height: 60%;
  }
  .about-item:first-child a img {
    width: 80%;
  }
  .about-item:last-child {
    padding-top: 40px;
  }
  .about-item__back {
    width: 80%;
    left: 0;
    bottom: -85px;
  }

  .solutions-item:first-child {
    width: 45%;
  }
  .solutions-item:first-child img {
    width: 100%;
  }
  .solutions-item:last-child {
    width: 48%;
  }
  .solutions-title {
    font-size: 40px;
  }

  .products-item:first-child {
    width: 40%;
  }
  .products-item:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .offer-block__title {
    font-size: 54px;
  }
  .offer-block__item:last-child {
    width: 350px;
  }
  .offer-block__item:last-child img:last-child {
    bottom: -161px;
    right: -60px;
    width: 500px;
  }

  .equipment-body__elem {
    width: 230px;
    margin-top: 20px;
  }
  .equipment-body__elem:first-child {
    margin-top: 0;
  }
  .equipment-body__elem-list li {
    padding: 15px 0 15px 10px;
  }
  .equipment-body__elem::after {
    display: none;
  }
  .equipment-body__item:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .equipment-body__item:last-child div {
    display: none;
  }
  .equipment-body__item:last-child div img {
    right: 0;
  }
  .equipment-footer {
    width: 100%;
  }
  .equipment-footer div p {
    font-size: 14px;
  }

  .about-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about-item:last-child {
    width: 100%;
    margin-bottom: 100px;
  }
  .about-item__back {
    width: 85%;
    left: 58px;
    bottom: -114px;
  }

  .beautification {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .beautification div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .beautification-title {
    font-size: 50px;
    margin: 0;
    text-align: center;
    width: 370px;
  }

  .solutions-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .solutions-item:first-child {
    width: 80%;
  }
  .solutions-item:first-child img {
    width: 80%;
  }
  .solutions-item:first-child a {
    margin-bottom: 70px;
  }
  .solutions-item:last-child {
    width: 60%;
  }
  .solutions-title {
    font-size: 40px;
  }

  .products-item:first-child {
    width: 50%;
  }
  .products-item:nth-child(2) {
    display: none;
  }
  .products-item:last-child {
    width: 40%;
  }
}
@media screen and (max-width: 576px) {
  .offer-block__title {
    font-size: 30px;
  }
  .offer-block__text {
    font-size: 14px;
  }
  .offer-block__link {
    font-size: 16px;
  }
  .offer-block__item:last-child {
    width: 250px;
  }
  .offer-block__item:last-child img:last-child {
    display: none;
  }
  .offer-info__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offer-info__text {
    text-align: center;
  }

  .equipment-header__item h2 {
    font-size: 25px;
  }
  .equipment-block {
    padding: 60px 20px;
  }
  .equipment-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .equipment-footer div {
    width: 100%;
  }
  .equipment-footer div:last-child {
    margin-top: 20px;
  }

  .about {
    padding-top: 0;
  }
  .about-block {
    padding: 0;
    text-align: center;
  }
  .about-title {
    font-size: 38px;
  }
  .about-text {
    font-size: 16px;
  }
  .about-item__back {
    display: none;
  }
  .about-item:last-child {
    margin-bottom: 30px;
  }

  .solutions-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .solutions-title {
    font-size: 30px;
  }
  .solutions-link {
    font-size: 15px;
  }
  .solutions-item__elem {
    width: 100%;
    padding-left: 0;
  }
  .solutions-item__elem p {
    font-size: 15px;
  }
  .solutions-item:first-child img {
    width: 100%;
  }
  .solutions-item:first-child a {
    margin-bottom: 30px;
  }
  .solutions-item:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
  }

  .products-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products-item {
    padding-bottom: 40px;
    width: 100% !important;
  }
  .products-list__item {
    padding-right: 0;
  }
  .products-filters__item ul li {
    margin-top: 5px;
  }
  .products-show {
    margin-top: 0;
  }
}