* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, a, p, span, input, li {
  font-family: "Manrope", sans-serif;
  color: #021C27;
}

.container {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

.header {
  padding-top: 45px;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-block__phone {
  font-weight: 500;
}
.header-block__search {
  padding: 0 30px;
  cursor: pointer;
}
.header-block__search svg {
  width: 14px;
}
.header-block__link {
  font-weight: bold;
  font-size: 14px;
  padding: 10px 15px;
  border: 1px solid #021C27;
  border-radius: 5px;
}
.header-nav {
  margin-left: 80px;
}
.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-nav__list-item {
  margin-right: 20px;
}
.header-nav__list-item:last-child {
  margin-right: 0;
}
.header-nav__list-link {
  font-size: 14px;
  font-weight: bold;
  color: #021C27;
}
.header-burger {
  position: relative;
  height: 20px;
  width: 30px;
  display: none;
  cursor: pointer;
}
.header-burger:after, .header-burger:before {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  left: 0;
  background: #000;
}
.header-burger:after {
  top: 0;
}
.header-burger:before {
  bottom: 0;
}
.header-burger span {
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  left: 0;
  background: #000;
  top: calc(50% - 1px);
}

.offer {
  padding-top: 55px;
}
.offer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
}
.offer-block__title {
  font-size: 64px;
  font-weight: 800;
}
.offer-block__text {
  margin: 20px 0 40px;
}
.offer-block__link {
  color: #fff;
  font-weight: 800;
  font-size: 20px;
  padding: 15px 25px;
  background: #009FE3;
  border-radius: 5px;
  text-transform: uppercase;
}
.offer-block__item:first-child {
  padding-top: 70px;
  width: 30%;
}
.offer-block__item:last-child {
  width: 590px;
  position: relative;
}
.offer-block__item:last-child img:first-child {
  width: 100%;
}
.offer-block__item:last-child img:last-child {
  position: absolute;
  top: -65px;
  z-index: -2;
  right: 50px;
}
.offer-block__item:last-child div {
  position: absolute;
  top: 40px;
  right: 45px;
  background: #000;
  width: 92px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
}
.offer-block__item:last-child div p {
  color: #fff;
  font-weight: 800;
  text-align: center;
}
.offer-block__item:last-child div p span {
  color: #fff;
  opacity: 0.5;
  font-size: 12px;
  margin-right: 2px;
}
.offer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding-top: 100px;
}
.offer-info__item {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 auto;
  margin-top: 50px;
}
.offer-info__item p {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 25px;
  width: 80%;
  opacity: 0.5;
}
.offer-info__item span {
  display: block;
  width: 100%;
  height: 1px;
  background: #009FE3;
}
.offer-info__item.active p {
  opacity: 1;
}
.offer-info__item.active span {
  height: 5px;
}

.equipment {
  margin-top: 80px;
}
.equipment-block {
  padding: 60px 70px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 20px 60px rgba(2, 26, 36, 0.1);
          box-shadow: 0px 20px 60px rgba(2, 26, 36, 0.1);
  border-radius: 40px;
}
.equipment-header__item h2 {
  font-weight: 800;
  font-size: 34px;
}
.equipment-header__item h2 span {
  color: #C0C6C9;
}
.equipment-header__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0 45px;
}
.equipment-header__point {
  width: 18px;
  height: 18px;
  border: 1px solid #ECEEEF;
  border-radius: 50px;
}
.equipment-header__point.active {
  width: 8px;
  height: 8px;
  border: 5px solid #E3061B;
}
.equipment-header__line {
  width: 25%;
  height: 1px;
  background: #ECEEEF;
}
.equipment-body__item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.equipment-body__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.equipment-body__item:last-child div a {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
  padding: 13px 25px;
  background: #E3061B;
  border-radius: 5px;
  margin-top: 40px;
}
.equipment-body__item:last-child div img {
  width: 210px;
  height: 224px;
  position: absolute;
  right: 80px;
}
.equipment-body__elem {
  width: 30%;
  position: relative;
}
.equipment-body__elem-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.equipment-body__elem-header img {
  margin-right: 15px;
}
.equipment-body__elem-list {
  border: 1px solid #009FE3;
  border-radius: 5px;
  width: 60%;
}
.equipment-body__elem-list li {
  border-bottom: 1px solid #009FE3;
  font-size: 17px;
  padding: 15px 0 15px 30px;
}
.equipment-body__elem-list li:last-child {
  border-bottom: 0;
}
.equipment-body__elem-list li.active {
  background: rgba(0, 159, 227, 0.1);
  color: #009FE3;
}
.equipment-body__elem::after {
  content: "";
  display: block;
  width: 20px;
  height: 40px;
  background: url("../assets/img/chevron-thin-right.svg");
  position: absolute;
  top: calc(50% - 20px);
  right: 35px;
}
.equipment-body__elem:last-child::after {
  display: none;
}
.equipment-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  border-top: 1px dashed #009FE3;
  padding-top: 30px;
  margin-top: 45px;
}
.equipment-footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 45%;
}
.equipment-footer div img {
  margin-right: 15px;
}
.equipment-footer div p {
  font-size: 15px;
}
.equipment-footer div p span {
  border-bottom: 1px solid #009FE3;
}
.equipment-footer div:last-child p {
  border-bottom: 1px solid #009FE3;
}

.about {
  padding-top: 80px;
}
.about-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
}
.about-item:first-child {
  position: relative;
}
.about-item:last-child {
  padding-top: 120px;
  width: 40%;
}
.about-item__back {
  position: absolute;
  left: -70px;
  bottom: -341px;
  z-index: -2;
}
.about-title {
  font-size: 54px;
  font-weight: 800;
}
.about-link {
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid rgba(2, 28, 39, 0.4);
  border-radius: 5px;
  opacity: 0.4;
  margin: 10px 0 35px;
}
.about-link svg {
  width: 10px;
  margin-right: 8px;
}
.about-text {
  font-size: 19px;
}

.beautification {
  background: url(../assets/img/background5.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  margin-top: 100px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}
.beautification div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.beautification-title {
  font-size: 64px;
  color: #fff;
  font-weight: 800;
  width: 335px;
  margin: 330px 200px 0 0;
}

.solutions {
  padding-top: 120px;
}
.solutions-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.solutions-item:first-child {
  width: 35%;
}
.solutions-item:last-child {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.solutions-item__elem {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 48%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 40px rgba(2, 26, 36, 0.04);
          box-shadow: 0px 5px 40px rgba(2, 26, 36, 0.04);
  border-radius: 20px;
  margin-top: 25px;
  padding: 20px 0 20px 25px;
}
.solutions-item__elem p {
  font-size: 17px;
  font-weight: bold;
  margin-top: 30px;
}
.solutions-title {
  font-weight: 800;
  font-size: 46px;
}
.solutions-title span {
  color: #C0C6C9;
}
.solutions-link {
  display: inline-block;
  margin: 40px 0 100px;
}

.products {
  padding-top: 120px;
}
.products-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.products-item {
  padding-bottom: 240px;
}
.products-item:first-child {
  background: #fff;
  width: 30%;
}
.products-item:nth-child(2) {
  background: -webkit-gradient(linear, left top, right top, from(rgba(171, 213, 232, 0.12)), to(white));
  background: -o-linear-gradient(left, rgba(171, 213, 232, 0.12) 0%, white 100%);
  background: linear-gradient(90deg, rgba(171, 213, 232, 0.12) 0%, white 100%);
  padding: 160px 0 0 100px;
  width: 40%;
  position: relative;
}
.products-item:nth-child(2) img:first-child {
  position: relative;
  z-index: 5;
}
.products-item:nth-child(2) img:last-child {
  position: absolute;
  left: 0;
  top: -130px;
  z-index: 2;
}
.products-item:last-child {
  width: 30%;
}
.products-list__item {
  font-size: 24px;
  font-weight: 600;
  opacity: 0.3;
  margin-top: 45px;
  padding-right: 130px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}
.products-list__item:hover {
  opacity: 1;
  border-right: 5px solid #E3061B;
}
.products-filters__item {
  font-weight: 600;
  font-size: 19px;
}
.products-filters__item ul {
  margin: 15px 0 40px;
}
.products-filters__item ul li {
  font-size: 17px;
  font-weight: 400;
}
.products-filters__item ul li input {
  margin-right: 10px;
}
.products-filters__item ul li label {
  cursor: pointer;
}
.products-show {
  display: inline-block;
  font-weight: bold;
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 25px;
  background: #000;
  border-radius: 5px;
  margin-top: 25px;
}

.climat {
  background: url(../assets/img/background26.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  z-index: 5;
}
.climat div {
  position: relative;
}
.climat h2 {
  font-weight: 800;
  font-size: 64px;
  color: #fff;
  width: 400px;
  position: absolute;
  right: 0;
  top: 330px;
}

.services {
  padding-top: 80px;
}
.services-title {
  font-weight: 800;
  font-size: 34px;
}
.services-header {
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.services-item {
  width: 15%;
  background: -webkit-gradient(linear, left top, right top, from(#FBFEFF), to(#F0F8FC));
  background: -o-linear-gradient(left, #FBFEFF 0%, #F0F8FC 100%);
  background: linear-gradient(90deg, #FBFEFF 0%, #F0F8FC 100%);
  border-radius: 20px;
  padding: 40px;
}
.services-item__title {
  color: #009FE3;
  opacity: 0.1;
  font-size: 62px;
  font-weight: 800;
}
.services-item__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #009FE3;
  opacity: 0.1;
  margin: 13px 0 24px;
}
.services-item__text {
  font-weight: bold;
  font-size: 17px;
}
.services-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 80px;
  position: relative;
}
.services-body__item {
  width: 49%;
}
.services-body__item:first-child {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 20px 60px rgba(2, 26, 36, 0.04);
          box-shadow: 0px 20px 60px rgba(2, 26, 36, 0.04);
  border-radius: 40px;
  padding: 60px 0 65px 70px;
}
.services-body__item:last-child img {
  width: 90%;
}
.services-body__title {
  font-weight: 800;
  font-size: 34px;
  padding: 15px 0 25px;
  width: 60%;
}
.services-body__text {
  font-size: 17px;
  font-weight: 500;
  width: 60%;
}
.services-body__back {
  position: absolute;
  z-index: -2;
  top: 150px;
  left: -80px;
}

.benefits {
  max-width: 1920px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#FBFEFF), to(#F0F8FC));
  background: -o-linear-gradient(left, #FBFEFF 0%, #F0F8FC 100%);
  background: linear-gradient(90deg, #FBFEFF 0%, #F0F8FC 100%);
  margin: 80px auto 0;
  padding: 60px 0;
}
.benefits .container {
  position: relative;
}
.benefits-back {
  position: absolute;
  top: 330px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -2;
}
.benefits-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 20px 60px rgba(2, 26, 36, 0.04);
          box-shadow: 0px 20px 60px rgba(2, 26, 36, 0.04);
  border-radius: 40px;
  padding: 0 40px;
}
.benefits-item {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 0 60px;
}
.benefits-item__title {
  font-size: 24px;
  font-weight: bold;
  width: 60%;
  text-align: center;
  margin: 20px 0 12px;
}
.benefits-item__text {
  width: 60%;
  text-align: center;
  font-size: 17px;
}
.benefits-item:nth-child(2) {
  position: relative;
}
.benefits-item:nth-child(2)::before, .benefits-item:nth-child(2)::after {
  content: "";
  height: 100%;
  width: 1px;
  display: block;
  background: #C0C6C9;
  position: absolute;
  top: 0;
  opacity: 0.3;
}
.benefits-item:nth-child(2)::before {
  left: 0;
}
.benefits-item:nth-child(2)::after {
  right: 0;
}

.clients {
  padding: 160px 0 40px;
}
.clients-title {
  font-weight: 800;
  font-size: 46px;
}
.clients-header {
  padding-top: 65px;
}
.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.clients-list__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 13%;
}
.clients-list__item::after {
  content: "";
  height: 50px;
  width: 1px;
  background: #C0C6C9;
  display: block;
}
.clients-list__item:last-child::after {
  display: none;
}
.clients-body {
  padding: 50px 0 60px;
}
.clients-body__item {
  background: -webkit-gradient(linear, left top, right top, from(#FBFEFF), to(#F0F8FC));
  background: -o-linear-gradient(left, #FBFEFF 0%, #F0F8FC 100%);
  background: linear-gradient(90deg, #FBFEFF 0%, #F0F8FC 100%);
  border-radius: 40px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.clients-body__item div:last-child {
  margin-left: 50px;
  width: 60%;
}
.clients-body__item-title {
  margin: 50px 0;
  font-size: 24px;
  font-weight: bold;
}
.clients-body__item p {
  font-weight: 600;
  font-size: 15px;
  margin-top: 5px;
}
.clients-body__item p span {
  font-weight: 400;
}

.press {
  padding-top: 100px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(171, 213, 232, 0.12)), color-stop(104.43%, rgba(171, 213, 232, 0.12)));
  background: -o-linear-gradient(top, rgba(171, 213, 232, 0.12) 0%, rgba(171, 213, 232, 0.12) 104.43%);
  background: linear-gradient(180deg, rgba(171, 213, 232, 0.12) 0%, rgba(171, 213, 232, 0.12) 104.43%);
  position: relative;
}
.press-title {
  font-weight: 800;
  font-size: 46px;
  margin-bottom: 75px;
}
.press-block__title {
  font-size: 34px;
  font-weight: 800;
  margin-bottom: 35px;
}
.press-block__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.press-item {
  width: 32%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 40px rgba(2, 26, 36, 0.04);
          box-shadow: 0px 5px 40px rgba(2, 26, 36, 0.04);
  border-radius: 20px;
  padding: 40px 40px 70px;
}
.press-item__info {
  padding: 5px 10px;
  background: rgba(0, 159, 227, 0.45);
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 11px;
}
.press-item__title {
  margin: 10px 0 20px;
  font-weight: 600;
  font-size: 19px;
  width: 80%;
}
.press-item__text {
  font-size: 15px;
}
.press-item div {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.press-item div img {
  margin-right: 10px;
}
.press-item div p {
  width: 53%;
  font-weight: 500;
  font-size: 12px;
  color: #909DA3;
}
.press-item div p span {
  color: #021C27;
}
.press-back {
  position: absolute;
  left: 0;
  z-index: -2;
  top: 300px;
  width: 100%;
}
.press-events {
  padding-top: 130px;
}
.press-events__title {
  font-size: 34px;
  font-weight: 800;
}
.press-events__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 35px;
}
.press-events__item {
  width: 32%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 40px rgba(2, 26, 36, 0.04);
          box-shadow: 0px 5px 40px rgba(2, 26, 36, 0.04);
  border-radius: 20px;
  padding: 40px 40px 45px;
}
.press-events__item div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #C0C6C9;
  border-radius: 5px;
}
.press-events__item div:first-child div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.press-events__item-date {
  font-size: 34px;
  opacity: 0.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -15px;
}
.press-events__item-date span {
  font-size: 13px;
  line-height: 3px;
}
.press-events__item-text {
  margin-top: 25px;
  font-weight: 600;
  font-size: 19px;
}
.press-shows {
  padding-top: 80px;
}
.press-shows__title {
  font-size: 34px;
  font-weight: 800;
}
.press-shows__block {
  background: url(../assets/img/background22.webp);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 35px;
  padding: 40px 0 40px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.press-shows__item h3, .press-shows__item p {
  color: #fff;
}
.press-shows__item h3 {
  font-size: 24px;
  font-weight: 800;
  margin-left: 75px;
}
.press-shows__item p {
  font-size: 13px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.press-shows__item p span {
  color: #fff;
  font-size: 32px;
}
.press-shows__item p:first-child::after {
  content: "";
  display: block;
  width: 1px;
  height: 10px;
  background: #fff;
  opacity: 0.6;
  margin-top: 5px;
}
.press-shows__item:first-child {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.press-brands {
  margin-top: 100px;
  padding-bottom: 115px;
}
.press-brands__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.press-brands__block p {
  font-size: 11px;
  opacity: 0.8;
  text-transform: uppercase;
  width: 140px;
}
.press-brands__block p span {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
}

.history {
  background: url(../assets/img/background23.webp);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
}
.history-title {
  color: #fff;
  font-weight: 800;
  font-size: 24px;
}
.history-title span {
  font-size: 34px;
  color: #fff;
  display: block;
  margin-bottom: 5px;
}

.examples {
  padding: 80px 0;
}
.examples-block:first-child div a, .examples-block:first-child div span {
  font-weight: 500;
  font-size: 12px;
  color: #C0C6C9;
}
.examples-block:first-child div span {
  margin: 0 5px;
}
.examples-block:first-child::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #C0C6C9;
  opacity: 0.3;
  margin-top: 15px;
}
.examples-block:last-child {
  margin-top: 30px;
}
.examples-block__elem {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.examples-title {
  font-size: 64px;
  font-weight: 800;
}
.examples-text {
  font-size: 19px;
  width: 50%;
  padding-top: 55px;
}
.examples-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #021C27;
  border-radius: 5px;
  margin-right: 20px;
}
.examples-item div {
  padding: 10px 20px;
  background: #fff;
  position: relative;
  cursor: pointer;
}
.examples-item div::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 0;
  right: 0;
}
.examples-item div p {
  font-size: 15px;
  font-weight: 600;
  color: #021C27;
}
.examples-item div.active {
  background: #021C27;
}
.examples-item div.active p {
  color: #fff;
}

.industries {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, right top, from(#FBFEFF), to(#F0F8FC));
  background: -o-linear-gradient(left, #FBFEFF 0%, #F0F8FC 100%);
  background: linear-gradient(90deg, #FBFEFF 0%, #F0F8FC 100%);
  padding: 80px 0;
}
.industries .container {
  position: relative;
}
.industries-title {
  font-size: 46px;
  font-weight: 800;
}
.industries-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
}
.industries-block__item {
  width: 24%;
}
.industries-back {
  position: absolute;
}

.plant {
  padding: 80px 0;
}
.plant-title {
  font-weight: 800;
  font-size: 46px;
}
.plant-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}
.plant-block__item {
  width: 22%;
  margin-right: 35px;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.plant-block__item p {
  width: 70%;
  text-align: center;
  margin-top: 20px;
  font-size: 19px;
  font-weight: 600;
}

.series {
  padding-top: 80px;
}
.series-title {
  font-size: 46px;
  font-weight: 800;
}
.series-block {
  margin: 60px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.series-list__item {
  font-size: 14px;
  font-weight: 800;
}
.series-list__elem li {
  font-weight: 500;
  font-size: 14px;
}

.blog {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, right top, from(#FBFEFF), to(#F0F8FC));
  background: -o-linear-gradient(left, #FBFEFF 0%, #F0F8FC 100%);
  background: linear-gradient(90deg, #FBFEFF 0%, #F0F8FC 100%);
  padding: 80px 0px;
}
.blog-title {
  font-weight: 800;
  font-size: 46px;
}
.blog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 0 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.blog-list__item {
  margin-right: 30px;
  font-weight: 500;
  font-size: 15px;
  opacity: 0.3;
  padding-bottom: 20px;
  border-bottom: 5px solid rgba(2, 28, 39, 0);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}
.blog-list__item:last-child {
  margin-right: 0;
}
.blog-list__item:hover, .blog-list__item.active {
  opacity: 1;
  border-bottom-color: #021c27;
}
.blog-header div:last-child {
  position: relative;
}
.blog-header div:last-child::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  background: #C0C6C9;
  bottom: 0;
}
.blog-body__item {
  margin-top: 40px;
}
.blog-footer a {
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
  color: #009FE3;
  padding: 10px 20px;
  background: rgba(0, 159, 227, 0.1);
  border-radius: 5px;
  margin-top: 40px;
  text-transform: uppercase;
}

.events {
  padding: 80px 0;
}
.events-title {
  font-size: 46px;
  font-weight: 800;
  margin-bottom: 20px;
}
.events-block__item {
  margin-top: 40px;
}

.shows {
  padding-bottom: 80px;
}
.shows-title {
  font-size: 46px;
  margin-bottom: 60px;
}
.shows-block .press-shows__block {
  margin-top: 0;
  border-radius: 20px;
  position: relative;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.shows-block .press-shows__block:first-child:hover {
  margin-bottom: 40px;
}
.shows-block .press-shows__block .press-shows__item {
  position: relative;
  z-index: 10;
}
.shows-block .press-shows__block:hover {
  margin-top: 40px;
}
.shows-block .press-shows__block:hover .shows-back {
  opacity: 0;
}
.shows-back {
  position: absolute;
  background: #C4C4C4;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  left: 0;
  border-radius: 20px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.pluses {
  padding-bottom: 100px;
}
.pluses-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
}
.pluses-block:first-child {
  margin-top: 0;
}
.pluses-block__item {
  width: 49%;
}
.pluses-block__item:first-child {
  background: -webkit-gradient(linear, left top, right top, from(#FBFEFF), to(#F0F8FC));
  background: -o-linear-gradient(left, #FBFEFF 0%, #F0F8FC 100%);
  background: linear-gradient(90deg, #FBFEFF 0%, #F0F8FC 100%);
  border-radius: 40px;
  padding: 80px;
}
.pluses-block__title {
  font-size: 46px;
  font-weight: 800;
  width: 80%;
}
.pluses-block__text {
  font-size: 17px;
  display: inline-block;
  margin: 35px 0;
  width: 80%;
  line-height: 1.7em;
}
.pluses-block__link {
  display: inline-block;
  margin-top: 35px;
  background: #009FE3;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
}

.footer {
  background: #021C27;
  padding: 70px 0 60px;
}
.footer-list__item {
  margin-top: 15px;
  -webkit-transition: all 0.4;
  -o-transition: all 0.4;
  transition: all 0.4;
  position: relative;
  cursor: pointer;
}
.footer-list__item a {
  color: #C0C6C9;
  opacity: 0.6;
  font-size: 15px;
}
.footer-list__item:hover::after {
  opacity: 0.3;
}
.footer-list__item::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #009FE3;
  display: block;
  opacity: 0;
  position: absolute;
  bottom: -5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-block__elem:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-block__elem:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer-block__elem:last-child p {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  color: #C0C6C9;
  opacity: 0.3;
  margin-top: 15px;
}
.footer-block:last-child {
  padding-top: 50px;
  position: relative;
}
.footer-block:last-child .footer-block__item {
  padding-top: 20px;
}
.footer-block:last-child .footer-block__item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-block:last-child::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #C0C6C9;
  position: absolute;
  opacity: 0.2;
}
.footer-item {
  margin-right: 100px;
}
.footer-item:last-child .footer-list__item {
  font-size: 17px;
  color: #EFF3F5;
  opacity: 0.5;
}
.footer-item:last-child .footer-list__link {
  display: inline-block;
  color: #009FE3;
  font-size: 15px;
  opacity: 0.6;
  padding: 10px 20px;
  border: 1px solid #009FE3;
  border-radius: 5px;
  margin-top: 35px;
  font-weight: bold;
  text-transform: uppercase;
}
.footer-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}
.footer-lang img, .footer-lang p {
  cursor: pointer;
}
.footer-lang img {
  width: 12px;
  height: 12px;
  margin-right: 8px;
}
.footer-lang p {
  font-size: 12px;
  color: #C0C6C9;
  opacity: 0.3;
}
.footer-text {
  cursor: pointer;
  font-size: 12px;
  color: #C0C6C9;
  opacity: 0.3;
  font-weight: 500;
}

.mobile-menu {
  display: none;
  position: absolute;
  z-index: 20;
  background: silver;
  width: 100%;
  left: 0;
  top: -100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  padding-bottom: 50px;
}
.mobile-menu.active {
  top: 18%;
}
.mobile-menu * {
  border-color: #fff;
  color: #fff;
}
.mobile-menu ul, .mobile-menu div {
  display: block;
}
.mobile-menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile-menu div p {
  padding-top: 10px;
}
.mobile-menu div span {
  padding: 10px 0;
}
.mobile-menu ul li a {
  display: block;
  width: 100%;
  border-bottom: 1px solid grey;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 1700px) {
  .products-item:nth-child(2) img:first-child {
    width: 400px;
  }
  .products-item:nth-child(2) img:last-child {
    width: 400px;
    left: 70px;
    top: 50px;
  }
}
@media screen and (max-width: 1300px) {
  .header-nav {
    display: none;
  }
  .header-nav__list-item {
    margin-right: 0;
  }
  .header-info {
    display: none;
  }
  .header-burger {
    display: block;
  }

  .offer-block__item:last-child {
    width: 400px;
  }
  .offer-block__item:last-child img:last-child {
    bottom: -175px;
    top: unset;
    right: 80px;
    width: 600px;
  }

  .equipment-body__elem {
    width: 33%;
  }
  .equipment-body__elem-list {
    width: 80%;
  }
  .equipment-body__elem::after {
    right: 15px;
  }

  .about-item:first-child a img {
    width: 75%;
  }
  .about-item:last-child {
    padding-top: 40px;
  }
  .about-item__back {
    width: 80%;
    left: 0;
    bottom: -130px;
  }

  .products-item:nth-child(2) {
    padding-left: 20px;
  }
  .products-item:nth-child(2) img:first-child {
    width: 330px;
  }
  .products-item:nth-child(2) img:last-child {
    width: 330px;
    left: 0;
    top: 100px;
  }
  .products-list__item {
    font-size: 20px;
    padding-right: 80px;
    margin-top: 30px;
  }

  .services-item {
    width: 200px;
    margin: 20px 20px 0 0;
  }
  .services-body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services-body__item {
    width: 45%;
  }
  .services-body__item:last-child img {
    width: 100%;
  }
  .services-body__back {
    width: 50%;
    top: 240px;
    left: -75px;
  }

  .benefits-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .benefits-item {
    width: 100%;
  }
  .benefits-item:nth-child(2) {
    position: relative;
  }
  .benefits-item:nth-child(2)::before, .benefits-item:nth-child(2):after {
    left: 0;
    width: 100%;
    height: 1px;
  }
  .benefits-item:nth-child(2)::before {
    top: 0;
  }
  .benefits-item:nth-child(2)::after {
    bottom: 0;
    top: unset;
  }
  .benefits-back {
    display: none;
  }

  .press-item {
    padding: 40px 20px 50px;
  }
  .press-events__item {
    width: 30%;
  }
  .press-events__item-img {
    width: 120px;
  }
  .press-events__item-text {
    font-size: 16px;
  }

  .examples-item div {
    padding: 10px 15px;
  }

  .plant-block__item {
    width: 20%;
  }
  .plant-block__item p {
    width: 80%;
  }

  .pluses-block__item img {
    width: 450px;
  }
  .pluses-block__title {
    font-size: 40px;
  }
  .pluses-block__text {
    width: 100%;
  }

  .mobile-menu {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  .offer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offer-block__item:first-child {
    width: 100%;
    text-align: center;
  }
  .offer-block__item:last-child img:last-child {
    bottom: -200px;
    right: -100px;
  }

  .equipment-body__elem {
    width: 250px;
  }
  .equipment-body__elem-list li {
    padding: 15px 0 15px 10px;
  }
  .equipment-body__elem::after {
    display: none;
  }
  .equipment-body__item:last-child div img {
    right: 0;
  }

  .about {
    margin-top: 50px;
  }
  .about-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-title {
    font-size: 45px;
  }
  .about-item:first-child {
    height: 60%;
  }
  .about-item:first-child a img {
    width: 80%;
  }
  .about-item:last-child {
    padding-top: 40px;
  }
  .about-item__back {
    width: 80%;
    left: 0;
    bottom: -85px;
  }

  .solutions-item:first-child {
    width: 45%;
  }
  .solutions-item:first-child img {
    width: 100%;
  }
  .solutions-item:last-child {
    width: 48%;
  }
  .solutions-title {
    font-size: 40px;
  }

  .products-item:first-child {
    width: 40%;
  }
  .products-item:nth-child(2) {
    display: none;
  }

  .services-body__item:first-child {
    padding-left: 20px;
  }
  .services-body__title {
    font-size: 30px;
  }
  .services-body__text {
    width: 85%;
  }

  .clients-header {
    padding-top: 25px;
  }
  .clients-list__item {
    width: 200px;
    margin-top: 40px;
  }
  .clients-list__item::after {
    display: none;
  }
  .clients-body__item div:last-child {
    margin-left: 20px;
  }

  .press-block__elem {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .press-item {
    width: 320px;
    margin-top: 20px;
  }
  .press-item:first-child {
    margin-right: 20px;
  }
  .press-events__item {
    width: 350px;
    margin-top: 20px;
  }

  .industries-block__item {
    width: 32%;
  }

  .examples-title {
    font-size: 50px;
  }
  .examples-text {
    width: 80%;
  }
  .examples-item {
    margin: 15px 10px 0 0;
  }
  .examples-item:first-child {
    width: 60%;
  }
  .examples-item div {
    padding: 10px 15px;
    width: 50%;
  }
  .examples-item div p {
    font-size: 14px;
    text-align: center;
  }
  .examples-block__elem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .industries-title {
    font-size: 40px;
  }
  .industries-back {
    width: 80%;
  }
  .industries-back img {
    width: 100%;
  }

  .plant-title {
    font-size: 40px;
  }
  .plant-block__item {
    width: 30%;
  }

  .series-block {
    margin: 40px 0 60px;
  }
  .series-list {
    width: 15%;
    margin-top: 20px;
  }

  .blog-body__elem {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .pluses-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .pluses-block__item {
    width: 80%;
  }
  .pluses-block__item:last-child {
    margin-bottom: 40px;
  }

  .footer-block__elem:first-child {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer-item {
    width: 200px;
    margin-right: 40px;
  }
  .footer-item:last-child {
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .offer-block__title {
    font-size: 54px;
  }
  .offer-block__item:last-child {
    width: 350px;
  }
  .offer-block__item:last-child img:last-child {
    bottom: -161px;
    right: -60px;
    width: 500px;
  }

  .equipment-body__elem {
    width: 230px;
    margin-top: 20px;
  }
  .equipment-body__elem:first-child {
    margin-top: 0;
  }
  .equipment-body__elem-list li {
    padding: 15px 0 15px 10px;
  }
  .equipment-body__elem::after {
    display: none;
  }
  .equipment-body__item:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .equipment-body__item:last-child div {
    display: none;
  }
  .equipment-body__item:last-child div img {
    right: 0;
  }
  .equipment-footer {
    width: 100%;
  }
  .equipment-footer div p {
    font-size: 14px;
  }

  .about-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about-item:last-child {
    width: 100%;
    margin-bottom: 100px;
  }
  .about-item__back {
    width: 85%;
    left: 58px;
    bottom: -114px;
  }

  .beautification {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .beautification div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .beautification-title {
    font-size: 50px;
    margin: 0;
    text-align: center;
    width: 370px;
  }

  .solutions-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .solutions-item:first-child {
    width: 80%;
  }
  .solutions-item:first-child img {
    width: 80%;
  }
  .solutions-item:first-child a {
    margin-bottom: 70px;
  }
  .solutions-item:last-child {
    width: 60%;
  }
  .solutions-title {
    font-size: 40px;
  }

  .products-item:first-child {
    width: 50%;
  }
  .products-item:nth-child(2) {
    display: none;
  }
  .products-item:last-child {
    width: 40%;
  }

  .services-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services-body__text {
    width: 85%;
  }
  .services-body__item {
    width: 90%;
  }

  .clients-body__item div:last-child {
    width: 50%;
  }

  .press-back {
    display: none;
  }
  .press-shows__item h3 {
    font-size: 20px;
    margin-left: 30px;
  }
  .press-brands__block img {
    width: 50px;
    margin-right: 20px;
    margin-top: 20px;
  }

  .examples-title {
    font-size: 40px;
  }
  .examples-item div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .industries-title {
    font-size: 34px;
  }
  .industries-block__item {
    width: 49%;
  }

  .plant-title {
    font-size: 34px;
  }
  .plant-block__item {
    width: 40%;
  }

  .series-title {
    font-size: 36px;
  }
  .series-list {
    width: 20%;
    margin-right: 20px;
  }

  .blog-list__item {
    padding-bottom: 10px;
    margin-top: 10px;
  }

  .events-title {
    font-size: 40px;
  }

  .shows-title {
    font-size: 40px;
  }

  .pluses-block__item img {
    width: 90%;
  }
  .pluses-block__item:first-child {
    padding: 40px;
  }
  .pluses-block__title {
    font-size: 30px;
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .offer-block__title {
    font-size: 30px;
  }
  .offer-block__text {
    font-size: 14px;
  }
  .offer-block__link {
    font-size: 16px;
  }
  .offer-block__item:last-child {
    width: 250px;
  }
  .offer-block__item:last-child img:last-child {
    display: none;
  }
  .offer-info__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offer-info__text {
    text-align: center;
  }

  .equipment-header__item h2 {
    font-size: 25px;
    text-align: center;
  }
  .equipment-header__item:last-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .equipment-body__item:first-child {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .equipment-body__elem {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .equipment-body__elem-list li {
    font-size: 16px;
  }
  .equipment-block {
    padding: 60px 20px;
  }
  .equipment-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .equipment-footer div {
    width: 100%;
  }
  .equipment-footer div:last-child {
    margin-top: 20px;
  }

  .about {
    padding-top: 0;
  }
  .about-block {
    padding: 0;
    text-align: center;
  }
  .about-title {
    font-size: 38px;
  }
  .about-text {
    font-size: 16px;
  }
  .about-item__back {
    display: none;
  }
  .about-item:last-child {
    margin-bottom: 30px;
  }

  .solutions-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .solutions-title {
    font-size: 30px;
  }
  .solutions-link {
    font-size: 15px;
  }
  .solutions-item__elem {
    width: 100%;
    padding-left: 0;
  }
  .solutions-item__elem p {
    font-size: 15px;
  }
  .solutions-item:first-child img {
    width: 100%;
  }
  .solutions-item:first-child a {
    margin-bottom: 30px;
  }
  .solutions-item:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
  }

  .products {
    padding-top: 60px;
  }
  .products-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products-item {
    padding-bottom: 40px;
    width: 100% !important;
  }
  .products-list__item {
    padding-right: 0;
  }
  .products-filters__item ul li {
    margin-top: 5px;
  }
  .products-show {
    margin-top: 0;
  }

  .climat h2 {
    width: 100%;
    font-size: 42px;
    text-align: center;
    top: 200px;
  }

  .services-title {
    text-align: center;
    font-size: 30px;
  }
  .services-header {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services-item {
    margin: 20px auto 0;
  }
  .services-item__title::after {
    margin: 13px auto 24px;
  }
  .services-body {
    text-align: center;
  }
  .services-body__title {
    font-size: 20px;
    width: 100%;
  }
  .services-body__text {
    width: 100%;
    font-size: 16px;
  }
  .services-body__item:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
  .services-body__item:last-child {
    display: none;
  }

  .benefits-item__title, .benefits-item__text {
    width: 90%;
  }
  .benefits-item img {
    width: 85%;
  }

  .clients {
    padding-top: 80px;
  }
  .clients-title {
    font-size: 40px;
    text-align: center;
  }
  .clients-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .clients-list__item {
    width: 100%;
  }
  .clients-list__item img {
    display: inline;
    margin: 0 auto;
  }
  .clients-body__item {
    height: 450px;
  }
  .clients-body__item div:first-child {
    display: none;
  }
  .clients-body__item p {
    font-size: 14px;
  }
  .clients-body__item-title {
    font-size: 20px;
  }

  .press-title {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
  }
  .press-block {
    text-align: center;
  }
  .press-block__title {
    font-size: 30px;
  }
  .press-block__elem {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .press-item div p {
    width: 80%;
  }
  .press-item__title {
    margin: 15px 0 20px;
    font-size: 16px;
    width: 100%;
  }
  .press-item__text {
    font-size: 14px;
  }
  .press-item:first-child {
    margin-right: 0;
  }
  .press-events__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .press-events__title {
    text-align: center;
  }
  .press-events__item {
    width: 250px;
  }
  .press-events__item-date {
    font-size: 30px;
    width: 100%;
  }
  .press-events__item-text {
    font-size: 14px;
  }
  .press-events__item-img {
    width: 100px;
  }
  .press-shows__title {
    text-align: center;
  }
  .press-shows__block {
    padding-left: 10px;
  }
  .press-shows__item p span {
    font-size: 24px;
  }
  .press-shows__item h3 {
    font-size: 18px;
    margin-left: 15px;
  }

  .history-title {
    font-size: 14px;
  }
  .history-title span {
    font-size: 26px;
  }

  .examples-title {
    font-size: 30px;
    text-align: center;
  }
  .examples-text {
    font-size: 15px;
    width: 95%;
    padding-top: 30px;
    text-align: center;
  }
  .examples-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90% !important;
    margin-right: 0;
  }
  .examples-item div {
    width: 100%;
    padding: 15px;
  }
  .examples-block:last-child {
    margin-top: 20px;
  }
  .examples-block__elem {
    margin-top: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .industries {
    padding: 50px 0;
  }
  .industries-title {
    font-size: 26px;
    text-align: center;
  }
  .industries-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .industries-block__item {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .industries-back {
    display: none;
  }

  .plant {
    padding: 60px 0;
  }
  .plant-title {
    font-size: 30px;
    text-align: center;
  }
  .plant-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .plant-block__item {
    width: 90%;
    margin-right: 0;
    margin-top: 40px;
  }
  .plant-block__item p {
    width: 100%;
  }

  .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-block__elem:first-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-block__elem:last-child {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-block:last-child {
    padding-top: 25px;
  }
  .footer-block:last-child .footer-block__item:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-block:last-child::before {
    top: 30px;
  }
  .footer-text:last-child {
    margin-top: 10px;
  }
  .footer-list__item {
    text-align: center;
  }
  .footer-item {
    margin-right: 0;
  }
  .footer-lang {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
  }

  .series {
    padding-top: 40px;
  }
  .series-title {
    font-size: 30px;
    text-align: center;
  }
  .series-list {
    width: 40%;
    margin-right: 20px;
  }
  .series-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .press2 {
    padding-top: 0;
  }

  .events-title {
    font-size: 34px;
    text-align: center;
  }

  .shows-title {
    font-size: 34px;
  }

  .blog-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .pluses-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pluses-block__item {
    width: 100%;
  }
  .pluses-block__item:first-child {
    padding: 20px;
  }
  .pluses-block__text {
    font-size: 14px;
  }
  .pluses-block__title {
    font-size: 24px;
  }
  .pluses-block__link {
    padding: 10px;
    font-size: 14px;
    margin-top: 20px;
  }
}