*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

h1, h2, h3, h4, a, p, span, input, li {
    font-family: 'Manrope', sans-serif;
    color: #021C27;
}

.container{
    max-width: 1600px;
    width: 90%;
    margin: 0 auto;
}

.header{
    padding-top: 45px;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-block{
        display: flex;
        align-items: center;
        &__phone{
            font-weight: 500;
        }
        &__search{
            padding: 0 30px;
            cursor: pointer;
            svg{
                width: 14px;
            }
        }
        &__link{
            font-weight: bold;
            font-size: 14px;
            padding: 10px 15px;
            border: 1px solid #021C27;
            border-radius: 5px;
        }
    }
    &-nav{
        margin-left: 80px;
        &__list{
            display: flex;
            &-item{
                margin-right: 20px;
            }
            &-item:last-child{
                margin-right: 0;
            }
            &-link{
                font-size: 14px;
                font-weight: bold;
                color: #021C27;
            }
        }
    }
    &-burger{
        position: relative;
        height: 20px;
        width: 30px;
        display: none;
        cursor: pointer;
        &:after, &:before{
            content: '';
            width: 100%;
            height: 2px;
            display: block;
            position: absolute;
            left: 0;
            background: #000;
        }
        &:after{
            top: 0;
        }
        &:before{
            bottom: 0;
        }
        span{
            width: 100%;
            height: 2px;
            display: block;
            position: absolute;
            left: 0;
            background: #000;
            top: calc(50% - 1px);
        }
    }
}

.offer{
    padding-top: 55px;
    &-block{
        display: flex;
        justify-content: space-between;
        z-index: 10;
        &__title{
            font-size: 64px;
            font-weight: 800;
        }
        &__text{
            margin: 20px 0 40px;
        }
        &__link{
            color: #fff;
            font-weight: 800;
            font-size: 20px;
            padding: 15px 25px;
            background: #009FE3;
            border-radius: 5px;
            text-transform: uppercase;
        }
        &__item{
            &:first-child{
                padding-top: 70px;
                width: 30%;
            }
            &:last-child{
                width: 590px;
                position: relative;
                img{
                    &:first-child{
                        width: 100%;
                    }
                    &:last-child{
                        position: absolute;
                        top: -65px;
                        z-index: -2;
                        right: 50px;
                    }
                }
                div{
                    position: absolute;
                    top: 40px;
                    right: 45px;
                    background: #000;
                    width: 92px;
                    height: 92px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;
                    p{
                        color: #fff;
                        font-weight: 800;
                        text-align: center;
                        span{
                            color: #fff;
                            opacity: .5;
                            font-size: 12px;
                            margin-right: 2px;
                        }
                    }
                }
            }
        }
    }
    &-info{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 100px;
        &__item{
            width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin: 0 auto;
            margin-top: 50px;
            p{
                font-weight: 500;
                font-size: 15px;
                margin-bottom: 25px;
                width: 80%;
                opacity: .5;
            }
            span{
                display: block;
                width: 100%;
                height: 1px;
                background: #009FE3;
            }
            &.active{
                p{
                    opacity: 1;
                }
                span{
                    height: 5px;
                }
            }
        }
    }
}

.equipment{
    margin-top: 80px;
    &-block{
        padding: 60px 70px;
        background: #FFFFFF;
        box-shadow: 0px 20px 60px rgba(2, 26, 36, 0.1);
        border-radius: 40px;
    }
    &-header{
        &__item{
            h2{
                font-weight: 800;
                font-size: 34px;
                span{
                    color: #C0C6C9;
                }
            }
            &:last-child{
                display: flex;
                align-items: center;
                margin: 40px 0 45px;
            }
        }
        &__point{
            width: 18px;
            height: 18px;
            border: 1px solid #ECEEEF;
            border-radius: 50px;
            &.active{
                width: 8px;
                height: 8px;
                border: 5px solid #E3061B;
            }
        }
        &__line{
            width: 25%;
            height: 1px;
            background: #ECEEEF;
        }
    }
    &-body{
        &__item{
            &:first-child{
                display: flex;
                justify-content: space-between;
            }
            &:last-child{
                display: flex;
                justify-content: space-between;
                position: relative;
                div{
                    a{
                        display: inline-block;
                        color: #fff;
                        font-weight: bold;
                        font-size: 17px;
                        text-transform: uppercase;
                        padding: 13px 25px;
                        background: #E3061B;
                        border-radius: 5px;
                        margin-top: 40px;
                    }
                    img{
                        width: 210px;
                        height: 224px;
                        position: absolute;
                        right: 80px;
                    }
                }
            }
        }
        &__elem{
            width: 30%;
            position: relative;
            &-header{
                display: flex;
                margin-bottom: 20px;
                img{
                    margin-right: 15px;
                }
            }
            &-list{
                border: 1px solid #009FE3;
                border-radius: 5px;
                width: 60%;
                li{
                    border-bottom: 1px solid #009FE3;
                    font-size: 17px;
                    padding: 15px 0 15px 30px;
                    &:last-child{
                        border-bottom: 0;
                    }
                    &.active{
                        background: rgba(0, 159, 227, 0.1);
                        color: #009FE3;
                    }
                }
            }
            &::after{
                content: '';
                display: block;
                width: 20px;
                height: 40px;
                background: url('../assets/img/chevron-thin-right.svg');
                position: absolute;
                top: calc(50% - 20px);
                right: 35px;
            }
            &:last-child::after{
                display: none;
            }
        }
    }
    &-footer{
        display: flex;
        justify-content: space-between;
        width: 60%;
        border-top: 1px dashed #009FE3;
        padding-top: 30px;
        margin-top: 45px;
        div{
            display: flex;
            align-items: flex-start;
            width: 45%;
            img{
                margin-right: 15px;
            }
            p{
                font-size: 15px;
                span{
                    border-bottom: 1px solid #009FE3;
                }
            }
            &:last-child{
                p{
                    border-bottom: 1px solid #009FE3;
                }
            }
        }
    }
}

.about{
    padding-top: 80px;
    &-block{
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }
    &-item{
        &:first-child{
            position: relative;
        }
        &:last-child{
            padding-top: 120px;
            width: 40%;
        }
        &__back{
            position: absolute;
            left: -70px;
            bottom: -341px;
            z-index: -2;
        }
    }
    &-title{
        font-size: 54px;
        font-weight: 800;
    }
    &-link{
        display: inline-block;
        padding: 10px 15px;
        font-size: 14px;
        border: 1px solid rgba(2, 28, 39, 0.4);
        border-radius: 5px;
        opacity: .4;
        margin: 10px 0 35px;
        svg{
            width: 10px;
            margin-right: 8px;
        }
    }
    &-text{
        font-size: 19px;
    }
}

.beautification{
    background: url(../assets/img/background5.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    margin-top: 100px;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    div{
        display: flex;
        justify-content: flex-end;
    }
    &-title{
        font-size: 64px;
        color: #fff;
        font-weight: 800;
        width: 335px;
        margin: 330px 200px 0 0;
    }
}

.solutions{
    padding-top: 120px;
    &-block{
        display: flex;
        justify-content: space-between;
    }
    &-item{
        &:first-child{
            width: 35%;
        }
        &:last-child{
            width: 40%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__elem{
            box-sizing: border-box;
            width: 48%;
            background: #FFFFFF;
            box-shadow: 0px 5px 40px rgba(2, 26, 36, 0.04);
            border-radius: 20px;
            margin-top: 25px;
            padding: 20px 0 20px 25px;
            p{
                font-size: 17px;
                font-weight: bold;
                margin-top: 30px;
            }
        }
    }
    &-title{
        font-weight: 800;
        font-size: 46px;
        span{
            color: #C0C6C9;
        }
    }
    &-link{
        display: inline-block;
        margin: 40px 0 100px;
    }
}

.products{
    padding-top: 120px;
    &-block{
        display: flex;
        justify-content: space-between;
    }
    &-item{
        padding-bottom: 160px;
        &:first-child{
            background: #fff;
            width: 30%;
        }
        &:nth-child(2){
            background: linear-gradient(90deg, rgba(171, 213, 232, 0.12) 0%, rgba(255, 255, 255) 100%);
            padding: 160px 0 0 100px;
            width: 40%;
            position: relative;
            img:first-child{
                position: relative;
                z-index: 5;
            }
            img:last-child{
                position: absolute;
                left: 0;
                top: -130px;
                z-index: 2;
            }
        }
        &:last-child{
            width: 30%;
        }
    }
    &-list{
        &__item{
            font-size: 24px;
            font-weight: 600;
            opacity: .3;
            margin-top: 45px;
            padding-right: 130px;
            transition: .4s;
            cursor: pointer;
        }
        &__item:hover{
            opacity: 1;
            border-right: 5px solid #E3061B;
        }
    }
    &-filters{
        &__item{
            font-weight: 600;
            font-size: 19px;
            ul{
                margin: 15px 0 40px;
                li{
                    font-size: 17px;
                    font-weight: 400;
                    input{
                        margin-right: 10px;
                    }
                    label{
                        cursor: pointer;
                    }
                }
            }
        }
    }
    &-show{
        display: inline-block;
        font-weight: bold;
        font-size: 17px;
        color: #fff;
        text-transform: uppercase;
        padding: 13px 25px;
        background: #000;
        border-radius: 5px;
        margin-top: 25px;
    }
}

.mobile-menu{
    display: none;
    position: absolute;
    z-index: 20;
    background: silver;
    width: 100%;
    left: 0;
    top: -100%;
    transition: all .4s;
    padding-bottom: 50px;
    &.active{
        top: 18%;
    }
    *{
        border-color: #fff;
        color: #fff;
    }
    ul, div{
        display: block;
    }
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            padding-top: 10px;
        }
        span{
            padding: 10px 0;
        }
    }
    ul{
        li{
            a{
                display: block;
                width: 100%;
                border-bottom: 1px solid grey;
                padding: 10px;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 1700px) {
    .products{
        &-item{
            &:nth-child(2){
                img{
                    &:first-child{
                        width: 400px;
                    }
                    &:last-child{
                        width: 400px;
                        left: 70px;
                        top: 50px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .header{
        &-nav{
            display: none;
        }
        &-info{
            display: none;
        }
        &-burger{
            display: block;
        }
    }
    .offer{
        &-block{
            &__item{
                &:last-child{
                    width: 400px;
                    img{
                        &:last-child{
                            bottom: -175px;
                            top: unset;
                            right: 80px;
                            width: 600px;
                        }
                    }
                }
            }
        }
    }
    .equipment{
        &-body{
            &__elem{
                width: 33%;
                &-list{
                    width: 80%;
                }
                &::after{
                    right: 15px;
                }
            }
        }
    }
    .about{
        &-item{
            &:first-child{
                a{
                    img{
                        width: 75%;
                    }
                }
            }
            &:last-child{
                padding-top: 40px;
            }
            &__back{
                width: 80%;
                left: 0;
                bottom: -130px;
            }
        }
    }
    .products{
        &-item{
            &:nth-child(2){
                padding-left: 20px;
                img{
                    &:first-child{
                        width: 330px;
                    }
                    &:last-child{
                        width: 330px;
                        left: 0;
                        top: 100px;
                    }
                }
            }
        }
        &-list{
            &__item{
                font-size: 20px;
                padding-right: 80px;
                margin-top: 30px;
            }
        }
    }
    .mobile-menu{
        display: block;
    }
}

@media screen and (max-width: 992px) {
    .offer{
        &-block{
            flex-direction: column-reverse;
            align-items: center;
            &__item{
                &:first-child{
                    width: 100%;
                    text-align: center;
                }
                &:last-child{
                    img{
                        &:last-child{
                            bottom: -200px;
                            right: -100px;
                        }
                    }
                }
            }
        }
    }
    .equipment{
        &-body{
            &__elem{
                width: 250px;
                &-list{
                    li{
                        padding: 15px 0 15px 10px;
                    }
                }
                &::after{
                    display: none;
                }
            }
            &__item{
                &:last-child{
                    div{
                        img{
                            right: 0;
                        }
                    }
                }
            }
        }
    }
    .about{
        margin-top: 50px;
        &-block{
            align-items: center;
        }
        &-title{
            font-size: 45px;
        }
        &-item{
            &:first-child{
                height: 60%;
                a{
                    img{
                        width: 80%;
                    }
                }
            }
            &:last-child{
                padding-top: 40px;
            }
            &__back{
                width: 80%;
                left: 0;
                bottom: -85px;
            }
        }
    }
    .solutions{
        &-item{
            &:first-child{
                width: 45%;
                img{
                    width: 100%;
                }
            }
            &:last-child{
                width: 48%;
            }
        }
        &-title{
            font-size: 40px;
        }
    }
    .products{
        &-block{
        }
        &-item{
            &:first-child{
                width: 40%;
            }
            &:nth-child(2){
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .offer{
        &-block{
            &__title{
                font-size: 54px;
            }
            &__item{
                &:last-child{
                    width: 350px;
                    img{
                        &:last-child{
                            bottom: -161px;
                            right: -60px;
                            width: 500px;
                        }
                    }
                }
            }
        }
    }
    .equipment{
        &-body{
            &__elem{
                width: 230px;
                margin-top: 20px;
                &:first-child{
                    margin-top: 0;
                }
                &-list{
                    li{
                        padding: 15px 0 15px 10px;
                    }
                }
                &::after{
                    display: none;
                }
            }
            &__item{
                &:first-child{
                    flex-direction: column;
                }
                &:last-child{
                    div{
                        display: none;
                        img{
                            right: 0;
                        }
                    }
                }
            }
        }
        &-footer{
            width: 100%;
            div{
                p{
                    font-size: 14px;
                }
            }
        }
    }
    .about{
        &-block{
            flex-direction: column-reverse;
        }
        &-item{
            &:last-child{
                width: 100%;
                margin-bottom: 100px;
            }
            &__back{
                width: 85%;
                left: 58px;
                bottom: -114px;
            }
        }
    }
    .beautification{
        display: flex;
        align-items: center;
        div{
            align-items: center;
            justify-content: center;
        }
        &-title{
            font-size: 50px;
            margin: 0;
            text-align: center;
            width: 370px;
        }
    }
    .solutions{
        &-block{
            flex-direction: column;
        }
        &-item{
            &:first-child{
                width: 80%;
                img{
                    width: 80%;
                }
                a{
                    margin-bottom: 70px;
                }
            }
            &:last-child{
                width: 60%;
            }
        }
        &-title{
            font-size: 40px;
        }
    }
    .products{
        &-item{
            &:first-child{
                width: 50%;
            }
            &:nth-child(2){
                display: none;
            }
            &:last-child{
                width: 40%;
            }
        }
    }
}

@media screen and (max-width: 576px){
    .offer{
        &-block{
            &__title{
                font-size: 30px;
            }
            &__text{
                font-size: 14px;
            }
            &__link{
                font-size: 16px;
            }
            &__item{
                &:last-child{
                    width: 250px;
                    img{
                        &:last-child{
                            display: none;
                        }
                    }
                }
            }
        }
        &-info{
            &__item{
                align-items: center;
            }
            &__text{
                text-align: center;
            }
        }
    }
    .equipment{
        &-header{
            &__item{
                h2{
                    font-size: 25px;
                }
            }
        }
        &-body{
            &__item{
        
            }
        }
        &-block{
            padding: 60px 20px;
        }
        &-footer{
            flex-direction: column;
            div{
                width: 100%;
                &:last-child{
                    margin-top: 20px;
                }
            }
        }
    }
    .about{
        padding-top: 0;
        &-block{
           padding: 0;
           text-align: center;
        }
        &-title{
            font-size: 38px;
        }
        &-text{
            font-size: 16px;
        }
        &-item{
            &__back{
                display: none;
            }
            &:last-child{
                margin-bottom: 30px;
            }
        }
    }
    .solutions{
        &-block{
            align-items: center;
            text-align: center;
        }
        &-title{
            font-size: 30px;
        }
        &-link{
            font-size: 15px;
        }
        &-item{
            &__elem{
                width: 100%;
                padding-left: 0;
                p{
                    font-size: 15px;
                }
            }
            &:first-child{
                img{
                    width: 100%;
                }
                a{
                    margin-bottom: 30px;
                }
            }
            &:last-child{
                flex-direction: column;
                width: 80%;
            }
        }
    }
    .products{
        &-block{
            flex-direction: column;
        }
        &-item{
            padding-bottom: 40px;
            width: 100% !important;
        }
        &-list{
            &__item{
                padding-right: 0;
            }
        }
        &-filters{
            &__item{
                ul{
                    li{
                        margin-top: 5px;
                    }
                }
            }
        }
        &-show{
            margin-top: 0;
        }
    }
}
